@CHARSET "UTF-8";
header, footer, section, aside, nav, article {
	display: block;
}
body {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #F0F0F0;
}

#head {
	margin:0 auto;
	position: relative;
	width:80%;
	height:150px;
}

#private ul {
		margin: 0 auto;
		width: 150px;
		list-style: none;
	}

	#private  ul li {
		float: left;
	}
	
		#private  ul li a {
			display: block;
			margin-right: 20px;
			width: 140px;
			font-size: 14px;
			line-height: 44px;
			text-align: center;
			text-decoration: none;
			color: #777;
		}
#content {
	margin: 0 auto;
	display: table;
	height: 400px;
	width:800px;
}
#menu{
	display: table-cell;
	width: 100px;
	background-color:white;
	border: #006600 1px solid;
	height: 400px;
}
   #menu a {
			display: block;
			margin-right: 20px;
			width: 140px;
			font-size: 14px;
			line-height: 44px;
			text-align: center;
			text-decoration: none;
			color: #777;
		}
	#mainContent {
		display: table-cell;
		width: 620px;
		margin: 0 auto;
		padding-right: 22px;
	}

footer {
	margin: 0 auto;
	width:800px;
	height:100px;
	background: #555;
}

/* 	div{ */
/* 		width: 100px; */
/* 		height:100px; */
/* 		border : 10px solid black; */
/* 	} */
/* 	div:FIRST-CHILD { */
/* 		box-sizing: center-box; */
/* 		background-color: red; */
/* 	} */
/* 	div:last-CHILD { */
/* 		box-sizing: border-box; */
/* 		background-color: orange; */
/* 	} */
	/* 	#s1 {display: none;} */
/* 	 	#s1 {visibility: hidden;}  */
/* #graph{ */
/*     		width: 610px; */
/*     		border: 3px solid black; */
/*     	} */
/*         .bar { */
/*             width: 100px; height: 100px; */
/*             background-color: orange; */
/* 			margin:5px; */
/*             -ms-transition-duration: 5s; */
/*             -moz-transition-duration: 5s; */
/*             -o-transition-duration: 5s; */
/*             -webkit-transition-duration: 5s; */
/*             transition-duration: 5s; */
/*         } */
/* 		#graph:hover >.bar { */
/* 			width: 600px; */
/* 		} */
        
/*         .bar:nth-child(1){ */
/*         	transition-timing-function: linear; */
/*         } */

/*         div { */
/*             width: 100px; height: 100px; */
/*             background: Red; */
/* 		} */
/* 		div:hover{ */
/*              -ms-transform: translateX(50px) rotate(60deg); */
/*             -moz-transform: translateX(50px) rotate(60deg); */
/*             -o-transform: translateX(50px) rotate(60deg); */
/*             -webkit-transform: translateX(50px) rotate(60deg); */
/*             transform: translateX(50px) rotate(60deg);  */
/*         } */
